/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.html { background-color: #394263; } 

.grid-container {
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #324354;
  padding: 0px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Josefin Sans';
  font-weight: 150;
  text-transform: uppercase;
}



.main {
  grid-area: main;
  background-color: #293e4b;
  font-family: Arial, Helvetica, sans-serif;
}
.body { margin: 50px;}


.footer {
  grid-area: footer;
  background-color: #324354;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
}

a:hover {
  color: aquamarine;
}
a:link {
  text-decoration: none ;
}